@use 'variables' as v;

.Navbar {
    height: 5%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: v.$primary-color;
    border-bottom: 1px solid v.$shadow;
    position: relative;

    a {
        text-decoration: none;
        font-size: clamp(20px, 3vw, 28px);
        color: v.$secondary-color;
        font-family: "Basic", sans-serif;
        font-weight: 700;
        letter-spacing: .07rem;
        color: rgb(0, 0, 0);
    }
}