@use 'variables' as v;
@use 'mixins';
@use '_home';
@use '_navbar';
@use '_card';
@use '_userPage';
@use '_loading';

* {
    padding: 0 auto;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur90.cur), auto !important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layOut {
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}